---
language: python
python: "3.7-dev"

before_script:
  - "pip install coverage pylint"
  - "pip install -r requirements.txt"

script:
  - "pylint src"
  - "coverage run src/test.py"

after_script:
  - "coverage report --show-missing"
